In [1]:
import duckdb
import pandas as pd

# Connect to an in-memory database (or use 'my_database.db' for a persistent file)
con = duckdb.connect(database='my_database.db', read_only=False)

# Create a table (if it doesn't exist)
con.execute("""
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER,
        name TEXT,
        age INTEGER
    )
""")

# Insert some sample data
con.execute("INSERT INTO users VALUES (1, 'Alice', 30), (2, 'Bob', 25), (3, 'Charlie', 35)")

# Run a query and get the result as a Pandas DataFrame
df = con.execute("SELECT * FROM users WHERE age > 28").df()

# Display results
df

   id     name  age
0   1    Alice   30
1   3  Charlie   35

In [2]:
df = con.execute("SHOW TABLES").df()
df

    name
0  users